<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ site.title }}</title>
<link href="assets/css/styles.css" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

</head>

<body>


<div id="container">
		<div id="start">
    	<ul id="social">
        	<li><a href="{{site.facebook}}" class="fab fa-facebook-square fa-3x"></a></li>
            <li><a href="{{site.twitter}}" class="fab fa-twitter-square fa-3x"></a></li>
            <li><a href="{{site.insta}}" class="fab fa-instagram fa-3x"></a></li>
            <li><a href="{{site.github}}" class="fab fa-github-square fa-3x"></a></li>

        </ul>
        <div class="top-divider"></div>
        <div class="content" style="">
        	<img src="assets/images/dp4.jpg" style="height: 350px;width: 300px;">
            <h2 style="font-size: 25px;">My Name is {{site.author}}, and I am a {{site.about}}</h2>
            <p style="font-size: 20px;">{{site.describe}}</p>

        </div>

        <div style="text-align: right;font-weight: bold;">Contact Me:{{site.contact}}<br>{{site.email}}</div>

    	</div>


</div>
<div style="margin-top:-300px;text-align: center;"> &copy<a href="http://harshpatel44.github.io"> Harsh Patel </a></div>




</body>
</html>
